.App {
  padding: 0 100px;
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  background-color: #cdffa2;
}

.App__next-player-label {
  margin-bottom: 20px;
}
